<!-- Begin Section -->
<section id="services" class="services section">
    <img src="assets/img/services-bg.jpg" alt="" data-aos="fade-in">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Serviços</h2>
        <div class="content d-flex justify-content-center">
            <div class="p-4 border">
                <p>Somos uma agência de criação, marketing e desenvolvimento de soluções digitais cujo objetivo principal é ajudar empresas a desenvolver sua marca e se consolidar no seu nicho de mercado, através de um branding de presença.</p>
            </div>
        </div>
    </div><!-- End Section Title -->
</section> <!-- /Begin Section -->

<!-- Values Section -->
 <section id="values" class="values section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row content align-items-xl-center gy-5">
  
          <div class="col-xl-5">
            <h3>Valores</h3>
            <h2>Nosso DNA e Cultura</h2>
            <p>Na nossa agência, acreditamos que a emoção é a chave para a conexão. Despertamos emoções para criar significado, criando experiências únicas que tocam o coração e inspiram ações impactantes.</p>
            <a href="#" class="read-more"><span>Leia mais</span><i class="bi bi-arrow-right"></i></a>
          </div>
  
          <div class="col-xl-7">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      Visão
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        Somos uma empresa que visa construir <strong>comunidade e presença de marca</strong> através de um trabalho de pesquisa e marketing aprofundado.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      Missão
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        Nossa missão é ajudar pequenas e grandes marcas a encontrarem sua <strong>essência</strong> e a crescer dentro do seu nicho de mercado.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Objetivos
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        Nossos principais objetivos são a <strong>geração de leads e o aumento de vendas</strong> para os nossos clientes.
                    </div>
                  </div>
                </div>
              </div>
          </div>
  
        </div>
      </div>
 </section>

 <!-- Features Section -->
 <section id="features" class="features section">
     <!-- Section Title -->
     <div class="container section-title" data-aos="fade-up">
        <h2>Produtos</h2>
        <p>Desenvolvemos vários tipos de produtos baseados nas necessidades e preferências de nossos clientes</p>
      </div>

      <div class="container">
          <div class="row gy-4 align-items-center features-item">
            <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <h3>Website</h3>
              <h4>Você ainda mais conectado</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Design Moderno</li>
                <li class="list-group-item">Institucionais</li>
                <li class="list-group-item">Loja Virtual</li>
                <li class="list-group-item">Portfólio</li>
                <li class="list-group-item">Fóruns e comunidades</li>
                <li class="list-group-item">Landing Pages</li>
            </ul>
            </div>
            <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
              <div class="image-stack">
                <img src="assets/img/services-web-1.jpg" alt="" class="stack-front">
                <img src="assets/img/services-web-2.jpg" alt="" class="stack-back">
              </div>
            </div>
          </div> <!-- End Feature item -->

          <div class="row gy-4 align-items-center features-item">
            <div class="col-lg-7 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
              <div class="image-stack">
                <img src="assets/img/services-app-1.jpg" alt="" class="stack-front">
                <img src="assets/img/services-app-2.jpg" alt="" class="stack-back">
              </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="200">
              <h3>Aplicativo</h3>
              <h4>Praticidade no seu dia a dia</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Evento</li>
                <li class="list-group-item">Acompanhamento</li>
                <li class="list-group-item">Notificação</li>
                <li class="list-group-item">Loja Virtual</li>
                <li class="list-group-item">Comunicação em tempo real</li>
                <li class="list-group-item">Reservas e Agendamentos</li>
                <li class="list-group-item">Gestão de Projetos</li>
              </ul>
            </div>
          </div> <!-- End Feature item -->

          <div class="row gy-4 align-items-center features-item">
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="200">
              <h3>Chatbot</h3>
              <h4>Automação e Praticidade</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Chatbot simples</li>
                <li class="list-group-item">Atendimento ao Cliente</li>
                <li class="list-group-item">Loja Virtual</li>
                <li class="list-group-item">Serviço ao usuário</li>
                <li class="list-group-item">Marketing</li>
                <li class="list-group-item">Pesquisa de Satisfação</li>
              </ul>
            </div>
            <div class="col-lg-7 features-img-bg align-items-center" data-aos="zoom-out" data-aos-delay="100">
              <img src="assets/img/services-chatbot.jpg" class="img-fluid" alt="">
            </div>
          </div> <!-- End Feature item -->

          <div class="row gy-4 align-items-center features-item">
            <div class="col-lg-7 features-img-bg align-items-center" data-aos="zoom-out" data-aos-delay="100">
              <img src="assets/img/services-chatbot.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="200">
              <h3>Marketing Digital</h3>
              <h4>Comunicação eficiente</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Branding</li>
                <li class="list-group-item">Redes Sociais</li>
                <li class="list-group-item">Análise de Dados e Métricas</li>
            </ul>
            </div>
          </div> <!-- End Feature item -->
    </div><!-- End Section Title -->
 </section>

  <!-- Features Section -->
<section id="planner" class="planner section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
       <h2>Planner Pitada Consciente</h2>
       <p>Desenvolvemos juntamente com o <strong>Planela Pós Pandemia</strong> um guia definitivo para transformar sua vida e o planeta </p>
     </div>

     <div class="container">
      <div class="row gy-4 align-items-center planner-item">
        <div class="col-lg-5" data-aos="fade-up" data-aos-delay="200">
          <h3>Download Gratuito</h3>
          <h4>E aí, vamos nessa?!</h4>
          <p class="text-justify">
            Através da conexão existente nas redes sociais, em busca de um propósito sócio-ambiental e de visões positivas e regenerativas, o Planeta Pós Pandemia com a Estúdio 100 se juntaram a “Pitada Consciente”, em busca de criar e veicular este Planner
          </p>
          <a href="assets/files/Ecoplanner-3.pdf" target="_blank" class="btn download btn-primary">Baixe Agora</a>
        </div>
        <div class="col-lg-7 planner-img-bg align-items-center" data-aos="zoom-out" data-aos-delay="100">
          <img src="assets/img/planner.jpg" class="img-fluid" alt="">
        </div>
      </div> <!-- End Planner item -->
     </div>
</section>